[package]
name = "sharkmon"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.10.1", features = ["full"] }
tokio-modbus = "0.5"
byteorder = "*"
serde = { version = "*", features = ["derive"] }
serde_json = "*"
actix-web = "4.0.0-beta.9"
actix-files = "0.6.0-beta.7"
structopt = "*"
